<h2>Page Layouts</h2>
<dl>
<dt><a href="/demo/twothirds/">Two Thirds</a></dt>
<dd>Appropriate for Articles,Blogs,News. Divides the page into thirds. 
	Main content is place in the left two thirds with sidebars in the right third.
	Content can also be divided in three equal columns.
	<a href="/demo/twothirds/themes/">Themes</a>
	</dd>
<dt><a href="/demo/fiftyfifty/">Fifty Fifty</a></dt>
<dd>Appropriate for Visual Spreads. Divides the page into two halves.
	Either or both sides can be used for the main content.</dd>
</dl>
	
<h2>Typography</h2>
<dl>
<dt><a href="/demo/typography/default/">HTML tag default styling</a></dt>
<dd>How to write HTML using the default styling.</dd>	
<dt></dt>
<dd></dd>
</dl>

<h2>Graphics</h2>
<dl>
<dt>Animated Images</dt>
<dd>	
	"Moving ATAT":/demo/animations/atat.html

	"Rotating Space Background":/demo/animations/space.html
</dd>
</dl>

<h2>Web Apps</h2>
<dl>
<dt><a href="http://github.com/fellowshiptech/slablet">Slablet - GitHub</a></dt>
<dd><a href="/demo/iPad/light">Template - Light chrome</a>
<a href="/demo/iPad/dark">Template - Dark chrome</a>
<a href="/demo/iPad/mixed">Template - Mixed chrome</a>

</dd>
<dt>iPad</dt>
<dd><a href="/demo/ipad-css-layout/">iPad CSS Layout Landscape/Portrait Modes</a></dd>
</dl>

"Fluid Theme Demo":/demo/fluid/

"Flawless demo":/demo/flawless/



h1. Basic Technologies

"Width Test":/demo/techs/widthtest.html

"Worker Test":/demo/techs/workertest.html


