<section style="position:relative; top: -80px;">
	<img src="/images/simple-book.png" width="112" style="position:relative; top:65px; left: 140px;">

	<h1>Great Translations to Latin Languages</h1>
	<p>Fresh Translation uses an online process to translate your documents
		giving you direct access to a high quality translation. 
		We Translate from/into Spanish, English, Portuguese and French. </p>
		
	<p> Fresh Translation utiliza um processo on-line para traduzir 
		os seus documentos dando-lhe acesso direto a uma tradução de alta qualidade.
		Trabalhamos com os seguintes idiomas: Espanhol, Inglês, Português e Francês. </p>        
		
	<FORM METHOD="get" ACTION="mailto:estimate@freshtranslation.com" ENCTYPE="multipart/form-data"> 
	<input type="hidden" class="mail-encode" name="subject" value="Estimate My Document">
	<textarea class="mail-encode" style="display:none;" name="body" hidden=hidden>I have attached a document. Please check it for a free estimate.</textarea>
	
	<button class="big">E-mail My Document</button>
	</FORM>
</section>
