<nav class="etc thirds-content normal-read">

	<div class="third">
			<section class="posts">
				<h2>Recent Posts</h2>

				{% for post in site.posts limit:4 %}
			  <h6><a href="{{ post.url }}">{{ post.title }}</a>
			  <time>{{ post.date | date:"%b %d" }}</time>
			  </h6>
				<p>
				  {{ post.summary | truncatewords:20 }}
				  <a href="{{ post.url }}">more</a>
				</p>
				{% endfor %}

			</section>
	</div>

	<div class="third">
			<section>
<h2>About Fresh Translation</h2>
<p>
	Fresh Translation is a newly started translation service by Caterine Apruzzese. We translate documents and websites into Portuguese, Spanish, English and French. 
</p><p>
	Our process is specifically tailored to give our translation the extra polished needed in areas such as technical writing, legal summaries and sales presentations.
<a href="/about/">More ...</a>
</p>
			</section>
		</div>
	</div>

	<div class="third">
			<section>
				<h2>Stay Informed</h2>
				<p>Let's send you a summary of our services.
				We'll occasionally email you when we have more things to offer.</p>
				{% include mailchimp-stay-informed.html %}
			</section>
	</div>
</nav>
