/*
  spritemapper.sprite_dirs = ./top-edge
  spritemapper.output_css = top-edge-out.css
*/

.font-size {
    width:32px;
    height:32px;
    background: url('top-edge.png') no-repeat -33px 0;
}
.font-size-button {
    width:32px;
    height:32px;
    background: url('top-edge.png') no-repeat -99px 0;
}

.flip-theme-button {
    width:32px;
    height:32px;
    background: url('top-edge.png') no-repeat -198px 0;
}
.flip-theme {
    width:32px;
    height:32px;
    background: url('top-edge.png') no-repeat -231px 0;
}

.search-button {
    width:32px;
    height:32px;
    background: url('top-edge.png') no-repeat -165px 0;
}
.search-base {
    width:32px;
    height:32px;
    background: url('top-edge.png') no-repeat -132px 0;
}

.gears-button {
    width:32px;
    height:32px;
    background: url('top-edge.png') no-repeat 0 0;
}
.gears {
    width:32px;
    height:32px;
    background: url('top-edge.png') no-repeat -66px 0;
}
