---
layout: blog
---
<div class="main constrained">
	<div class="thirds"><div class="content tri-posts masonry1">
		
		{% for post in site.posts limit:10 %}
		<article class="wide-third">
		<details>
			<summary>
				<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
				<time class="postdate">
					<span class="postmonth">{{ post.date | date: "%b" }}</span>
					<span class="postday">{{ post.date | date: "%d" }}</span>
				</time>
				{% if post.image %}<img src="{{ post.image }}" class="principal">{% endif %}
				<p>{% if post.summary %}{{ post.summary | truncatewords:50 }}{% endif %}</p>
				<a href="{{ post.url }}">More</a>
			</summary>
		</details>
		</article>
		{% endfor %}
			

		<aside class="wide-third">
			{% include blog-sidebar.textile %}
		</aside>

<section class="wide-third"> 
        {{ content }}
</section>
        
{% if disqus_account %}
        <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/{{ disqus_account }}/embed.js"></script><noscript><a href="http://{{ disqus_account }}.disqus.com/?url=ref">View comments.</a></noscript>
    </div>
{% endif %}



</div></div></div>

<div class="links-bar constrained">
	<div class="thirds-content">
		<nav class="three-thirds">
			<ul class="breadcrumb">
			    <li class="home"><a href="/">{{ site.title }}</a></li>
				{% if page.folder %}
			    <li class="folder"><a href="{{ page.folderurl }}">{{ page.folder }}</a></li>
				{% endif %}
			    <li><a href="." class="active">{% if page.header_title %}{{ page.header_title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</a></li>
			</ul>
		</nav>
	</div>
</div>
