---
layout: master
thirds: production
flawless: production
theme: main
---
{% unless page.no_header %}{% include page-header.html %}{% endunless %}
<div class="main constrained">
	<div class="thirds-content">
			
		<article class="two-thirds normal-read four-columns">
{% if page.wrap-section %}<section>{% endif %}
{{ content }}
{% if page.wrap-section %}</section>{% endif %}
		</article>
		
		<aside class="third normal-read two-columns">
			{% include page-sidebar.html %}
		</aside>
</div></div> 

<footer class="constrained">
	{% include page-footer-etc.html %}
	{% if page.show_offset_info %}
	<code class="info">Etc (<var data-parent-prop="offsetWidth"></var> x <var data-parent-prop="offsetHeight"></var>)</code>
	{% endif %}
	{% include page-footer-copyright.html %}
</footer>
