<!doctype html>
<html lang="en" class="no-js no-horizontal-scroll">
<head>
  {% include ipad_friendly_html5_head.html %}

  <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" type="image/x-icon" href="">
  <link rel="apple-touch-icon" href="">

  <link rel="stylesheet/less" type="text/css" href="/css/twothirds.less" media="screen" title="flawless_css"/>
<!-- 
  <link rel="stylesheet" type="text/css" href="/css/twothirds.css" media="screen">
-->

  <link rel="stylesheet/less" type="text/css" href="/css/pale_serif.less" media="screen" title="pale_serif_css" alternate="Pale Serif">
  <link rel="stylesheet/less" type="text/css" href="/css/night_sans.less" media="screen" title="night_sans_css" alternate="Night Sans">
  <link rel="stylesheet/less" type="text/css" href="/css/twothirds/demo_theme.less" media="screen" title="demo_css" alternate="Demo Theme">

	<!-- baseline templ -->
	<link type="text/css" rel="stylesheet" media="screen" href="/css/baseline/uncompressed/baseline.form.css">
	<link type="text/css" rel="stylesheet" media="only screen and (max-device-width: 480px)" href="/css/baseline/iphone/baseline.iphone.css">


	<link rel="stylesheet" type="text/css" href="/css/jScrollPane.css">

  {% include flawless_development.html %}
  {% include css_browser_selector.html %}    
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

</head>

<!-- http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->

<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if gt IE 9]>  <body>             <![endif]-->
<!--[if !IE]><!--> <body>         <!--<![endif]-->

	<header class="split-thirds">
		<div class="left-double"><div class="restricted-width">

		<h1>{{ page.header_title }}</h1>
		
		</div></div>
	</header>

{{ content }}

<footer>
	<nav class="etc split-thirds normal-read">
		<div class="left-third">
			<div class="restricted-width">
				<section>
					{% include lorem_ipsum.html %}

					<ul>
						<li class="grid-baseline"><a href="" rel="Pale Serif" class="styleswitch">Pale Serif</a></li>
						<li class="grid-column"><a href="" rel="Night Sans" class="styleswitch">Night Sans</a></li>
						<li class="grid-baseline-column"><a href="" rel="Demo Theme" class="styleswitch">Demo Theme</a></li>
						<li class="grid-remove"><a href="" rel="remove" class="styleswitch">Remove Theme</a></li>
					</ul>
				</section>
			</div>
		</div>

		<div class="middle-third">
			<div class="restricted-width">
				<section>{% include lorem_ipsum.html %}</section>
			</div>
		</div>

		<div class="right-third">
			<div class="restricted-width">
				<section>{% include lorem_ipsum.html %}</section>
			</div>
		</div>
	</nav>
	
	<code class="info">Etc (<var data-parent-prop="offsetWidth"></var> x <var data-parent-prop="offsetHeight"></var>)</code>

	{% include demo-footer-copyright.html %}
</footer>

<div class="top-edge">
	
	<ul class="breadcrumb">
	    <li class="home"><a href="/">HTML 5 Playground</a></li>
		{% if page.folder %}
	    <li class="folder"><a href="{{ page.folderurl }}">{{ page.folder }}</a></li>
		{% endif %}
	    <li><a href="." class="active">{{ page.header_title }}</a></li>
	</ul>

	{% include page_menu.html %}

</div>
	
<div class="bottom-edge">
	<a href="production">Development Version [swap]</a>
</div>

  <!-- JavaScript -->

{% if page.googlecdn %}
  <!-- Grab Google CDN's jQuery. fall back to local if neccessary -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
{% endif %}
  <script>!window.jQuery && document.write('<script src="/js/jquery-1.4.2.min.js"><\/script>')</script>

  <script src="/js/essentialjs.js"></script>

  <script type="text/javascript" src="/js/jQuery/jquery.mousewheel.js"></script>
  <script type="text/javascript" src="/js/jQuery/jquery.cookie.js"></script>
  <script type="text/javascript" src="/js/jQuery/jquery.styleswitch.js"></script>
  <script type="text/javascript" src="/js/jScrollPane-1.2.3.min.js"></script>
  <script type="text/javascript" src="/js/site.js"></script>
</body>
</html>
