---
layout: master
theme: main
blog-link: no
---
{% unless page.no_header %}{% include page-header.html %}{% endunless %}
<div class="intro constrained">
	<div class="thirds-content">
			
		<div class="two-thirds">
{% if page.wrap-section %}<section>{% endif %}
{{ content }}
{% if page.wrap-section %}</section>{% endif %}
		</div>
		
		<aside class="third splash normal-read two-columns">
		</aside>
</div></div> 

<div class="main constrained">
	<div class="thirds-content" style="display:none;">
			
		<div class="three-thirds normal-read">
			{% for post in site.posts limit:10 %}
			<article class="wide-third">
			<details>
				<summary>
					<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
					<time class="postdate">
						<span class="postmonth">{{ post.date | date: "%b" }}</span>
						<span class="postday">{{ post.date | date: "%d" }}</span>
					</time>
					{% if post.image %}<img src="{{ post.image }}" class="principal">{% endif %}
					<p>{% if post.summary %}{{ post.summary | truncatewords:50 }}{% endif %}</p>
					<a href="{{ post.url }}">More</a>
				</summary>
			</details>
			</article>
			{% endfor %}
		</div>
</div></div> 

<footer class="constrained">
	{% include page-footer-etc.html %}
	{% include page-footer-copyright.html %}
</footer>
