<!doctype html>
<html lang="en" class="no-js no-horizontal-scroll">
<head>
  {% include ipad_friendly_html5_head.html %}

{% case page.thirds  %}
{% when 'production' %}
  <link rel="stylesheet" type="text/css" href="/css/thirds.css" media="screen">
{% when 'development' %}
  <link rel="stylesheet/less" type="text/css" href="/less/thirds.less" media="screen" title="thirds_css"/>
{% endcase %}

{% case page.fourths  %}
{% when 'production' %}
  <link rel="stylesheet" type="text/css" href="/css/fourths.css" media="screen">
{% when 'development' %}
  <link rel="stylesheet/less" type="text/css" href="/less/fourths.less" media="screen" title="fourths_css"/>
{% endcase %}


{% case page.flawless  %}
{% when 'production' %}

	{% unless page.no_themes %}
  <link rel="stylesheet" type="text/css" href="/css/{{ page.theme }}.css" media="screen">
	{% endunless %}

  {% include flawless_production.html %}
{% when 'development' %}

	{% unless page.no_themes %}
  <link rel="stylesheet/less" type="text/css" href="/less/{{ page.theme }}.less" media="screen" title="theme_css">
	{% endunless %}
  {% include flawless_development.html %}
{% endcase %}

  {% include css_browser_selector.html %}    
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  <META name="y_key" content="9ffe1e30a0a8e200" />
</head>

<!-- http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->

<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if gt IE 9]>  <body>             <![endif]-->
<!--[if !IE]><!--> <body>         <!--<![endif]-->

{{ content }}

{% unless page.no_top_edge %}
<div class="top-edge">
{% if top_edge_breadcrumb %}
<ul class="breadcrumb">
	<li class="home"><a href="/">HTML 5 Playground</a></li>
	{% if page.folder %}<li class="folder"><a href="{{ page.folderurl }}">{{ page.folder }}</a></li>{% endif %}
	<li><a href="." class="active">{{ page.header_title }}</a></li>
</ul>
{% endif %}

{% include page-menu.html %}
</div>
{% endunless %}
	
{% unless page.no_top_edge %}
<div class="bottom-edge">
{% if bottom_swap_link %}
{{ bottom_swap_link | textile }}
{% endif %}	
</div>
{% endunless %}

  <!-- JavaScript -->

{% if page.googlecdn %}
  <!-- Grab Google CDN's jQuery. fall back to local if neccessary -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
{% endif %}
  <script>!window.jQuery && document.write('<script src="/js/jquery-1.4.2.min.js"><\/script>')</script>

  <script src="/js/essentialjs.js"></script>

  <script type="text/javascript" src="/js/jQuery/jquery.mousewheel.js"></script>
  <script type="text/javascript" src="/js/jQuery/jquery.styleswitch.js"></script>
  <script type="text/javascript" src="/js/jQuery/jquery.cycle.min.js"></script>
  <script type="text/javascript" src="/js/jScrollPane-1.2.3.min.js"></script>
  <script type="text/javascript" src="/js/site.js"></script>

  <script type="text/javascript" src="/js/jQuery/jquery.masonry.min.js"></script>
<script> 
	(function($){
		$('.masonry100').masonry({ columnWidth: 100 });
		$('.masonry1').masonry({ });
	})(jQuery);
</script>
</body>
</html>
