<!doctype html>
<html lang="en" class="no-js no-horizontal-scroll">
<head>
  {% include ipad_friendly_html5_head.html %}

  <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" type="image/x-icon" href="">
  <link rel="apple-touch-icon" href="">

  <link rel="stylesheet" type="text/css" href="/css/twothirds.css" media="screen">

	<link rel="stylesheet" type="text/css" href="/css/jScrollPane.css">

  {% include flawless_production.html %}
  {% include css_browser_selector.html %}    
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

</head>

<!-- http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->

<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if gt IE 9]>  <body>             <![endif]-->
<!--[if !IE]><!--> <body>         <!--<![endif]-->

{{ content }}

  <!-- JavaScript -->

{% if page.googlecdn %}
  <!-- Grab Google CDN's jQuery. fall back to local if neccessary -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
{% endif %}
  <script>!window.jQuery && document.write('<script src="/js/jquery-1.4.2.min.js"><\/script>')</script>

  <script src="/js/essentialjs.js"></script>

  <script type="text/javascript" src="/js/jQuery/jquery.mousewheel.js"></script>
  <script type="text/javascript" src="/js/jQuery/jquery.styleswitch.js"></script>
  <script type="text/javascript" src="/js/jScrollPane-1.2.3.min.js"></script>
</body>
</html>
