---
layout: master
guesswho: itsme
---
<div class="width75" style="float: left;">
    <div class="post">
        <h1>
            <a href='{{page.url}}'>{{page.title}}</a></h1>
            <div class="date">
                {{page.date | date_to_string}}
                {% for category in page.categories %}
                <span class="category">{{category}}</span>
                {% endfor %}
                
                <a class="retweet" href="{{site.url}}{{page.url}}">{{page.title}}</a>
            </div>
        {{ content }}
        
        <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/zduck/embed.js"></script><noscript><a href="http://zduck.disqus.com/?url=ref">View comments.</a></noscript>
    </div>
</div>
<div class="width25 sidebar">
    <p style="margin-bottom: 1.5em;">
      <a class="img" href="http://twitter.com/thezduck">
        <img src="/images/twitter.gif" alt="Follow me on twitter!" /></a>
    </p>

    <h3>
        Other Posts</h3>
    <ul>
        {% for post in site.related_posts limit:10 %}
        <li><a href='{{ post.url }}'>{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>